# Node modules
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Personal testing and interview files
test/
check.txt
interview.txt